KAMAL_REGISTRY_PASSWORD=dckr_pat_here
RAILS_MASTER_KEY=your_rails_master_key
SECRET_KEY_BASE=your_secret_key_base
POSTGRES_PASSWORD=postgres_password_here
CERTIFICATE_PEM=-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----
PRIVATE_KEY_PEM=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----